<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/Command"
			class = "org.xtext.command.CommandPackage"
			genModel = "model/generated/Command.genmodel" />
	</extension>
</plugin>
