<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="file_log" xsi:type="File" fileName="${basedir}/log.txt" 
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:padding=5:fixedLength=true} ${message}" />
        <target name="file_error" xsi:type="File" fileName="${basedir}/error.txt"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:padding=5:fixedLength=true} ${message}" />
        <target name="console" xsi:type="ColoredConsole"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:padding=5:fixedLength=true} ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="file_log" />
        <logger name="*" minlevel="Warn" writeTo="file_error" />
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>

<!--
NLog supports the following levels:

Trace - Very detailed log messages, potentially of a high frequency and volume
        Error category in MCP message: LOG_DETAILED
Debug - Less detailed and/or less frequent debugging messages
        Error category in MCP message: LOG
Info  - Informational messages
        Not used in MCP message!
Warn  - Warnings which don't appear to the user of the application
        Error category in MCP message: WARNING
Error - Error messages
        Error category in MCP message: ERROR
Fatal - Fatal error messages. After a fatal error the application usually terminates.
        Not used in MCP message!
-->
